gunicorn==20.0.4
plotly==4.14.1
wordcloud==1.8.1
dash==1.19.0
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
matplotlib==3.3.4
pandas==1.0.5
numpy==1.19.4